<section class="sect-service" >
    <article class="sect-wrapper">
        <div class="sect-contents">
            <div class="title-area">
                <h4 class="title-main">누리펀딩 서비스</h4>
            </div>
            <div class="contents-area">
                <ul class="service-ul">
                    <li>
                        <h4 class="title title01">투자하기</h4>
                        <p class="p-txt">
                            대형 온라인 쇼핑몰(쿠팡 등)에 판매완료된<br>
                            매출채권에 투자하는 상품으로<br>
                            고금리이자와 함께 상환받는 상품
                        </p>
                        
                        <div class="sub-area">
                            <div class="txt-sub-box">
                                <p class="p-sub">연 10%의 높은 이자율</p>
                                <p class="p-hesh p-hesh01">#P2P투자 #고수익재태크 #단기투자</p>
                            </div>
                            <a href="" class="btn-go btn-go01" >
                                <p class="icon-arrow"><span class="span-hidden">투자상품 보기</span></p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <h4 class="title title02">대출하기</h4>
                        <p class="p-txt">
                            담보가 있어도 대출받기 어려운 현실<br>
                            누리펀딩의 빠르고 편리한<br>
                            대출서비스를 이용해보세요!
                        </p>
                        <div class="sub-area">
                            <div class="txt-sub-box">
                                <p class="p-sub">대출금리+3% 이내(단, 연24%이내)</p>
                                <p class="p-hesh p-hesh02">#쉬운대출 #빠른대출 #법정이자</p>
                            </div>
                            <a href="" class="btn-go btn-go02">
                                <p class="icon-arrow"><span class="span-hidden">대출 신청하기</span></p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <h4 class="title title03">누리워드</h4>
                        <p class="p-txt">
                            후원, 기부, 대출, 투자 등에 <br>
                            펀딩하는 상품으로 펀딩한 서포터에게<br>
                            제품이나 서비스를 제공하는 서비스
                        </p>
                        <div class="sub-area">
                            <div class="txt-sub-box">
                                <p class="p-sub">아이디어와 창작물에 펀딩하세요!</p>
                                <p class="p-hesh p-hesh03">#트렌디한상품 #상품펀딩 #기업펀딩</p>
                            </div>
                            <a href="" class="btn-go btn-go03">
                                <p class="icon-arrow"><span class="span-hidden">펀딩상품 보기</span></p>
                            </a>
                        </div>
                    </li>
                </ul>
                <a class="btn-go-guide sty-btn-white" href="">이용가이드 보기</a>
            </div>
        </div>
    </article>
</section>