<section class="sect-invest" >
    <article class="sect-wrapper sect">
        <div class="sect-contents">
            <div class="title-area">
                <h4 class="title-main">연 10% 고수익 재테크</h4>
                <p class="title-sub">1만원부터 시작하는 투자!</p>
            </div>
            <div class="contents-area">
                <ul class="invest-ul">
                    <li>
                        <div class="img-box"><img src="http://design.ebiznetworks.co.kr/lhc/nuri_renew/img/new/main/icon_invest_point01.png" alt="이미지"></div>
                        <div class="txt-box">
                            <p class="p-title">높은 수익율</p>
                            <p class="p-contents">
                                연 평균 10%의 높은 이자<br>
                                1만원부터 부담없이 시작하는<br>
                                고금리 투자상품<br>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="img-box"><img src="http://design.ebiznetworks.co.kr/lhc/nuri_renew/img/new/main/icon_invest_point02.png" alt="이미지"></div>
                        <div class="txt-box">
                            <p class="p-title">복리혜택</p>
                            <p class="p-contents">
                                <!-- <sapn class="sapn-hidden">소액분산투자 자동투자하는</sapn><br> -->
                                ‘자동투자’ 기능으로<br>
                                쉬지 않고 원금에<br>
                                이자를 더하는 복리혜택<br>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="img-box"><img src="http://design.ebiznetworks.co.kr/lhc/nuri_renew/img/new/main/icon_invest_point03.png" alt="이미지"></div>
                        <div class="txt-box">
                            <p class="p-title">단기투자 사이클</p>
                            <p class="p-contents">
                                2개월의 투자로 빠른<br>
                                투자금  회전과<br>
                                자동투자로 간편한 운영가능<br>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="img-box"><img src="http://design.ebiznetworks.co.kr/lhc/nuri_renew/img/new/main/icon_invest_point04.png" alt="이미지"></div>
                        <div class="txt-box">
                            <p class="p-title">낮은 리스크</p>
                            <p class="p-contents">
                                연체 및 부실율 0%!<br>
                                심사 알고리즘의<br>
                                믿을 수 있는 신용평가 시스템<br>
                            </p>
                        </div>
                    </li>
                </ul>
                <a class="btn-go-invest sty-btn-white" href="#none">가입하고 투자하기</a>
            </div>
        </div>
    </article>
</section>