<section class="sect-main">
    <article class="sect-wrapper sect-area01">
        <div class="sect-contents">
            <div class="main-slide-area">
                <ul class="main-slide-ul">
                    <li class="slide-main01">
                        <div class="slide-contents">
                            <div class="title-box">
                                <h5 class="title-main">
                                    고금리 재테크<br>
                                    누리펀딩에서 시작하세요.
                                </h5>
                                <p class="title-sub">
                                    누구나 할 수 있는 쉬운 재테크
                                </p>
                            </div>
                            <div class="img-box">
                                <img class="img-pc" src="https://www.nurifunding.co.kr/img/new/main/slide_main01.png"
                                    alt="이미지">
                                <img class="img-mobile"
                                    src="https://www.nurifunding.co.kr/img/new/main/slide_main01_m.png" alt="이미지">
                            </div>
                        </div>
                    </li>
                    <li class="slide-main02">
                        <div class="slide-contents">
                            <div class="title-box">
                                <!-- 2021.06.17 문구변경 -->
                                <h5 class="title-main">
                                    '<span class="span-yellow highlight">온라인투자연계금융법</span>' 등록<br>
                                    진행사항 안내
                                </h5>
                                <p class="title-sub">
                                    누리펀딩은 온투법 도입 및 등록을<br>
                                    진행중에 있습니다.
                                </p>
                                <!-- //2021.06.17 문구변경 -->
                            </div>
                            <div class="img-box">
                                <!-- <img class="img-pc" src="https://www.nurifunding.co.kr/img/new/main/slide_main02.png"
                                    alt="이미지">
                                <img class="img-mobile"
                                    src="https://www.nurifunding.co.kr/img/new/main/slide_main02_m.png" alt="이미지"> -->
                                <img class="img-pc"
                                    src="http://design.ebiznetworks.co.kr/sun/nurifunding/static/img/slide_main02.png"
                                    alt="온라인투자연계금융법 등록 진행사항 안내 이미지">
                                <img class="img-mobile"
                                    src="http://design.ebiznetworks.co.kr/sun/nurifunding/static/img/slide_main02.png"
                                    alt="온라인투자연계금융법 등록 진행사항 안내 이미지">
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="main-slide-control">
                    <div class="control-box">
                        <div class="btn-box">
                            <button type="button" class="btn-slide btn-slide-prev">
                                <img src="https://www.nurifunding.co.kr/img/new/main/btn_slide_left_main.png"
                                    alt="화살표 왼쪽">
                            </button>
                            <button type="button" class="btn-slide-pause">
                                <img src="https://www.nurifunding.co.kr/img/new/main/btn_slide_pause.png" alt="일시정지">
                            </button>
                            <button type="button" class="btn-slide btn-slide-next">
                                <img src="https://www.nurifunding.co.kr/img/new/main/btn_slide_right_main.png"
                                    alt="화살표 오른쪽">
                            </button>
                        </div>

                        <div class="num-box">
                            <p class="num-current">01</p>
                            <p class="num-slush">/</p>
                            <p class="num-total">01</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="btn-join-box mobile-show">
                <button type="button" class="btn-go-join-invest"><span class="icon-arrow">가입하고 투자하기</span></button>
            </div>
        </div>
    </article>
    <article class="sect-wrapper sect-area02">
        <div class="sect-contents">
            <div class="title-box mobile-show">
                <h5 class="title">누리펀딩 투자현황</h5>
                <p class="p-date">2020.09.15 기준</p>
            </div>
            <ul class="funding-info-ul">
                <li>
                    <p class="p-name">누적상환액</p>
                    <p class="p-num sty-txt-color-blue"><span class="sty-txt-bold" id="fn-count01">419억 5,100 </span>만원
                    </p>
                </li>
                <li>
                    <p class="p-name">대출잔액</p>
                    <p class="p-num"><span class="sty-txt-bold fn-counter">26억 512만 </span>원</p>
                </li>
                <li>
                    <p class="p-name">누적대출액</p>
                    <p class="p-num"><span class="sty-txt-bold ">445억 9,254만</span>만원</p>
                </li>
                <li>
                    <p class="p-name">평균금리</p>
                    <p class="p-num"><span class="sty-txt-bold">10.04</span>%</p>
                </li>
                <li>
                    <p class="p-name">
                        <span>연체율</span>
                        <span class="over-tip">
                            <img src="https://www.nurifunding.co.kr/img/new/main/icon_question_mark.png" alt="물음표">
                            <span class="over-tip-txt">
                                약정된 상환이 일부<br>
                                혹은 전부 지연되기<br>
                                시작해 30일 이상<br>
                                경과한 대출<br>
                                <br>
                                연체율 = 연체잔여원금<br>
                                / 대출잔여금<br>
                                (P2P금융협회기준)
                            </span>
                        </span>

                    </p>
                    <p class="p-num"><span class="sty-txt-bold">0</span>%</p>
                </li>
                <li>
                    <p class="p-name">부실율</p>
                    <p class="p-num">
                        <sapn class="sty-txt-bold">0</sapn>%
                    </p>
                </li>
            </ul>
        </div>
    </article>
    <article class="sect-wrapper sect-area03">
        <div class="sect-contents">
            <div class="news-area">
                <div class="news-title-box">
                    <p class="news-title"><span class="mobile-hidden">누리펀딩</span> 뉴스</p>
                    <a href="/notice" class="btn-go-news"></a>
                </div>
                <div class="news-info-area">
                    <div class="btn-arrow-box">
                        <button type="button" class="btn-arrow-up">▲</button>
                        <button type="button" class="btn-arrow-down">▼</button>
                    </div>
                    <!--공지사항 -->
                    <ul class="news-info-ul">
                        <li>
                            <a href="#" class="news-name">[공지] 누리펀딩 투자상품 KB국민카드 리브메이트앱 입점</a>
                            <p class="news-date">20.08.04</p>
                        </li>
                        <li>
                            <a href="#" class="news-name">[공지] 누리펀딩 투자상품 KB국민카드 리브메이트앱 입점2</a>
                            <p class="news-date">20.08.04</p>
                        </li>
                        <li>
                            <a href="#" class="news-name">[공지] 누리펀딩 투자상품 KB국민카드 리브메이트앱 입점3</a>
                            <p class="news-date">20.08.04</p>
                        </li>
                    </ul>
                    <!--./공지사항 -->
                </div>
            </div>
        </div>
    </article>
</section>