<section class="sect-advantage" >
    <article class="sect-wrapper">
        <div class="sect-contents cont01">
            <div class="title-area">
                <h4 class="title-main">웹 보안 + 금융 노하우 + 법률 자문<br>P2P 금융의 최고의 인력</h4>
                <p class="title-sub">
                    <span class="span-block">누리펀딩의 30년의 금융 전문 노하우와</span> 웹보안 기술력으로<br>
                    안전한 정보관리와 안심거래가 가능합니다.
                </p>
            </div>
            <div class="contents-area">
                <ul class="emphasis-ul">
                    <li><p><span class="span-mark sty-txt-color-blue">IT전문기업</span>의 개인정보 유출방지</p></li>
                    <li><p><span class="span-mark  sty-txt-color-blue">금융 전문가</span>의 여신심사 금융 노하우</p></li>
                    <li><p><span class="span-mark  sty-txt-color-blue">변호사 </span> 계약서 법률검토</p></li>
                </ul>
            </div>
        </div>
        <div class="sect-contents cont02">
            <div class="title-area">
                <h4 class="title-main">고금리 혜택과 리스크 관리</h4>
                <p class="title-sub">
                    P2P 투자는 수익률이 먼저? NO! <br>
                    누리펀딩은 고금리 혜택은 물론 <br>
                    원금을 지키는 리스크 관리도 소중하게 생각합니다.<br>
                </p>
            </div>
            <div class="contents-area">
                <div class="img-box"><img src="http://design.ebiznetworks.co.kr/lhc/nuri_renew/img/new/main/emphasis_graph.png" alt="이미지"></div>
            </div>
        </div>
    </article>
</section>