<section class="sect-last" >
    <article class="sect-wrapper sect-area-banner">
        <div class="sect-contents">
            <div class="banner-slide-area">
                <div class="banner-slide-control">
                    <button type="button" class="btn-slide btn-slide-prev">
                        <img src="https://www.nurifunding.co.kr/img/new/main/btn_slide_banner_prev.png" alt="배너이전">
                    </button>
                    <button type="button" class="btn-slide btn-slide-next">
                        <img src="https://www.nurifunding.co.kr/img/new/main/btn_slide_banner_next.png" alt="배너이후">
                    </button>
                </div>
                <ul class="banner-ul">
                    <li class="item-banner banner01">
                        <div class="banner-contents">
                            <div class="txt-box">
                                <p class="p-title"><span class="txt-high"> &lsquo;미리페이&rsquo;</span>로 필요자금 긴급지원 받자!</p>
                                <p class="p-contents">
                                    매번 늦는 판매대금 지급으로 상품 구입자금이 부족해 곤란하셨죠?
                                    <br>미리페이 선지급 서비스로 간편하고 빠르게 해결하세요!
                                </p>
                                <p class="p-contents-mobile">늦은 정산으로 상품 구입자금 부족!<br>
                                미리페이로  간편하고 빠르게 해결하세요!</p>
                            </div>
                            <div class="img-box">
                                <img src="https://www.nurifunding.co.kr/img/new/main/slide_banner_logo01.png" alt="미리페이">
                            </div>
                        </div>
                    </li>
                    <li class="item-banner banner02">
                        <div class="banner-contents">
                            <div class="txt-box">
                                <p class="p-title"><span class="txt-high"> &lsquo;자동투자 설정&rsquo;</span>으로 투자시간 절약하세요!</p>
                                <p class="p-contents">
                                    신규 선정산 상품이 나올때마다 설정한 금액이 자동 투자되는<br>
                                    맞춤형 간편투자 서비스로 투자 스트레스에서 벗어나세요!
                                </p>
                                <p class="p-contents-mobile">
                                    늦은 정산으로 상품 구입자금 부족!<br>
                                    미리페이로  간편하고 빠르게 해결하세요!
                                </p>
                            </div>
                            <div class="img-box">
                                <img src="https://www.nurifunding.co.kr/img/new/main/slide_banner_logo02.png" alt="자동투자">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </article>
    
    <article class="sect-wrapper sect-area-finace">
        <div class="sect-contents">
            <!--변경(2021_0322)-->
           <div class="finace-area">
                <ul class="finance-ul-left">
                    <li><img src="https://www.nurifunding.co.kr/img/new/common/logo_finance01.png" alt="이미지"></li>
                    <li><img src="https://www.nurifunding.co.kr/img/new/common/logo_finance02.png" alt="이미지"></li>
                    <li><img src="https://www.nurifunding.co.kr/img/new/common/logo_finance08.png" alt="이미지"></li>
                </ul>
                <ul class="finance-ul-right">
                    <li class="two-cont">
                        <div class="img-box"><img src="https://www.nurifunding.co.kr/img/new/common/logo_finance04.png" alt="이미지"></div>
                        <div class="img-box"><img src="https://www.nurifunding.co.kr/img/new/common/logo_finance06.png" alt="이미지"></div>
                    </li>
                    <li>
                        <div class="img-box"><img src="https://www.nurifunding.co.kr/img/new/common/logo_finance05.png" alt="이미지"></div>
                        <div class="img-box"><img src="https://www.nurifunding.co.kr/img/new/common/logo_finance07.png" alt="이미지"></div>
                        <div class="img-box"><img src="https://www.nurifunding.co.kr/img/new/common/logo_finance03.png" alt="이미지"></div>
                    </li>
                </ul>
            </div>
            <!--./변경(2021_0322)-->
        </div>
    </article>

    <article class="sect-wrapper sect-area-footer">
        @@include('../../include/_footer.html')
    </article>
</section>