<!DOCTYPE html>
<html lang="ko-KR">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <title>누리펀딩</title>
    <link rel="shortcut icon" href="http://nurifunding.co.kr/img/32x32.ico">
    <link rel="canonical" href="www.nurifunding.co.kr">

    <link rel="stylesheet" href="http://nurifunding.co.kr/static/fonts/NanumBarunGothic/nanumbarungothic.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <!--css 추가-->
    <link rel="stylesheet" href="http://nurifunding.co.kr/static/css/animate.css">
    <link rel="stylesheet" href="http://nurifunding.co.kr/static/css/jquery.bxslider.css">

    <link rel="stylesheet" href="http://nurifunding.co.kr/static/css/override.css">
    <link rel="stylesheet" href="http://nurifunding.co.kr/static/css/common.css">
    <link rel="stylesheet" href="http://nurifunding.co.kr/static/css/myinvest/myinvest.css">

    <!-- <link rel="stylesheet" href="/static/css/common.css"> -->
    <!--<link rel="stylesheet" href="/static/css/myinvest/myinvest.css"> -->
    <!-- <link rel="stylesheet" href="/static/css/myinvest/init.css"> -->



    <script type="text/javascript" src="http://nurifunding.co.kr/static/js/jquery-1.10.2.min.js"></script>
    <!--js 추가-->
    <!--<script type="text/javascript" src="http://nurifunding.co.kr/static/js/jquery.lazyload.min.js"></script>-->
    <script type="text/javascript" src="http://nurifunding.co.kr/static/js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="http://nurifunding.co.kr/static/js/jquery.animateNumber.min.js"></script>
    <script type="text/javascript" src="http://nurifunding.co.kr/static/js/waypoints.min.js"></script>
    <script type="text/javascript" src="http://nurifunding.co.kr/static/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="https://nurifunding.co.kr/static/js/nivo-lightbox.min.js"></script>
    <script type="text/javascript" src="https://nurifunding.co.kr/static/js/Chart.bundle.min.js"></script>

    <!--<script type="text/javascript" src="http://nurifunding.co.kr/static/js/components_custom.js"></script>-->
    <script type="text/javascript" src="http://nurifunding.co.kr/static/js/common.js"></script>

    <script src="http://nurifunding.co.kr/static/js/myinvest/myinvest.js"></script>
    <!--<script src="../../static/js/myinvest/init.js"></script>-->


    <!-- <link rel="stylesheet" href="http://nurifunding.co.kr/static/css/grid_ie9lt.min.css">
    <link rel="stylesheet" href="http://nurifunding.co.kr/static/css/common_ie9lt.css">
    <link rel="stylesheet" href="http://nurifunding.co.kr/static/css/myinvest/myinvest_ie9lt.css">
    <script type="text/javascript" src="http://nurifunding.co.kr/static/js/ie9_lt.js"></script> -->
    <!--[if lt IE 9]>
        <script type="text/javascript" src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://nurifunding.co.kr/static/css/myinvest/myinvest_190412.css">
    <!-- <link rel="stylesheet" href="/static/css/myinvest/myinvest_190412.css"> -->
    <!-- 리뉴얼 관련 css -->
    <link rel="stylesheet" href="/static/css/new/etc/etc_new.css">

    <!--헤더 js-->
    <script src="/static/js/new/common/header.js"></script>
</head>

<body>

    <h1 class="skip">누리펀딩</h1>
    <div class="wrap">
        <!-- 일반 해더 -->
        <!-- 190415 -->
        @@include('../include/_header.html')
        <!-- // -->

        <!-- 모바일 네비게이션 -->
        <section class="mlnb-wrap show-xs" id="mlnb-wrap">
            <div class="mlnb-container">

                <header class="mlnb-header">
                    <p class="top-box">
                        <a href="../main/index.html" class="mh-logo"><img src="https://nurifunding.co.kr/img/lnb_logo.png" alt="누리펀딩"></a>
                        <a href="javascript:void(0);" class="btn-logout">로그아웃</a>
                        <a href="javascript:void(0)" class="cls-btn"><img src="https://nurifunding.co.kr/img/cls_icon.png" alt="닫기"></a>
                    </p>
                    <!-- 190412 -->
                    <!-- 로그인 전 -->
                    <!-- <div class="t-box">
                <p>지금 바로 로그인하고</p>
                <p>누리펀딩의 투자서비스를 이용하세요!</p>
                <p class="nth-3"><a href="../login/index.html">로그인</a><a href="../join/join_01.html" class="nth-2">회원가입</a></p>
            </div> -->
                    <!-- 로그인 후 -->
                    <div class="t-box">
                        <p>누리펀딩의 투자서비스를 이용하세요!</p>
                        <p class="nth-3">
                            <a href="">회원정보</a>
                            <a href="">계좌정보</a>
                            <a href="">나의투자</a>
                            <a href="">나의대출</a>
                        </p>
                    </div>
                </header>
                <ul class="mlnb">
                    <li><a href="../invest/invest_01.html">투자하기<img src="https://nurifunding.co.kr/img/arrow_r_icon.png" alt="바로가기"></a></li>
                    <li><a href="../loan/index.html">대출하기<img src="https://nurifunding.co.kr/img/arrow_r_icon.png" alt="바로가기"></a></li>
                    <li><a href="../invest/index_01.html">누리워드<img src="https://nurifunding.co.kr/img/arrow_r_icon.png" alt="바로가기"></a></li>
                    <li><a href="../autoinv/">자동투자 <span class="ic-new big">NEW</span> <img src="https://nurifunding.co.kr/img/arrow_r_icon.png" alt="바로가기"></a></li>
                    <li><a href="../miripay/index.html">미리페이<img src="https://nurifunding.co.kr/img/arrow_r_icon.png" alt="바로가기"></a></li>
                    <li><a href="javascript:;">회사소개<img src="https://nurifunding.co.kr/img/arrow_r_icon.png" alt="바로가기"></a>
                        <nav class="m-sub-nav">
                            <ul>
                                <li><a href="../service/index.html">회사 소개</a></li>
                                <li><a href="../service/index_rep.html">대표이사 소개</a></li>
                                <li><a href="../service/index_ir.html">기업 IR정보</a></li>
                            </ul>
                        </nav>
                    </li>
                    <li><a href="javascript:;">이용안내<img src="https://nurifunding.co.kr/img/arrow_r_icon.png" alt="바로가기"></a>
                        <nav class="m-sub-nav">
                            <ul>
                                <li><a href="">FAQ</a></li>
                                <li><a href="">공지사항</a></li>
                                <li><a href="">자료실</a></li>
                            </ul>
                        </nav>
                    </li>
                </ul>
            </div>
        </section>


        <!--01.나의 투자-->
        <section class="contents com-mg">
            <div class="container">
                <div class="row lg-wrapper">
                    <!--180601, 등록 했을 경우-->
                    <!-- 180703 등록 했을 경우 내용 수정 : myi-dep-on 멀티클래스 추가 -->
                    <div class="myi-dep com-box row br3">
                        <!--교체 부분-->
                        <div class="md-user">
                            <h3>
                                <span class="fc-blue user-name">임준수</span>
                                <a href="" class="btn-go-user">회원정보 &gt;</a>
                            </h3>
                        </div>
                        <!--//교체 부분-->


                        <!-- <h2 class="clr"><span class="fc-blue">임준수</span><a href="" class="user-btn"><img src="http://img.nurifunding.co.kr/myp_icon.png" alt="회원정보"></a></h2>-->
                        <!-- <div class="md-code">
                        <p class="p-1">
                            나의 추천인 코드
                        </p>
                        <p class="p-1">
                            1000782 <a href="javascript: copy();" class="fc-blue btn btn-copy">복사하기</a>
                        </p>
                    </div> -->

                        <hr class="sun">
                        <div class="md-bank">
                            <h3>나의 출금계좌<a href="https://www.nurifunding.co.kr/mydeposit" class="histry-btn">거래내역 &gt;</a></h3>
                            <!-- 실계좌 등록 -->
                            <!--p class="mdb-p1">toxnsldxn@nate.com</p-->
                            <!-- <p class="mdb-p1">&nbsp;</p> -->
                            <p class="mdb-p2">은행명 : 기업은행</p>
                            <p class="mdb-p2">계좌번호 : 33710244901011</p>
                            <p class="mdb-p2">예금주 : 강혜준</p>
                        </div>
                        <div class="md-with">
                            <h3>나의 예치금<a href="https://www.nurifunding.co.kr/mydeposit" class="histry-btn">거래내역 &gt;</a></h3>
                            <div class="md-bank2">
                                <p class="mdb-p2">은행명 : SC제일은행</p>
                                <p class="mdb-p2">계좌번호 : 69416001457383</p>
                                <p class="mdb-p2">예금주 : 강혜준</p>
                            </div>
                            <p class="p-1 clr"><span class="pull-left s-gray">예치금</span><span class="pull-right s-1">10,075원</span></p>
                            <!-- <p class="p-1 clr"><span class="pull-left s-purple">이벤트</span><span class="pull-right s-1"><span class="s-purple">0</span>원</span></p> -->
                            <p class="p-1 clr"><span class="pull-left s-gray">투자액</span><span class="pull-right s-1">0원</span></p>
                            <hr class="sun clr">
                            <p class="p-1 total clr"><span class="pull-left s-gray">합계</span><span class="pull-right s-1"><span class="s-blue">10,075</span>원</span></p>
                            <p class="mdw-p2"><a href="/mydeposit/" class="btn fc-white bg-blue br4">출금 하기</a></p>
                            <!-- <input type="button" value="90일 선인증 테스트" onclick="javascript: window.open('./auto/autopay.php', 'autopay', 'width=500, height=500');">
                        <input type="button" value="선인증 취소 테스트" onclick="javascript: window.open('./auto/auth_cancel.php', 'autopay');"> -->
                        </div>

                    </div>
                    <div class="md-wrapper com-box br3">
                        <h3 class="my-title">나의 투자정보</h3>
                    </div>
                    <!-- 190412 -->
                    <div class="md-wrapper com-box row br3 miri-autoinv">
                        <div class="row-txt top">
                            <h3><span class="c-blue">선정산(미리페이)<span class="hidden-xs">상품</span> 자동 투자기능!</span> <span class="ic-new">NEW</span></h3>
                        </div>
                        <!-- 인증 전 화면 -->
                        <div class="row-txt mid before">
                            시간에 구애받지 않는 너무 편리한 자동투자!<br />
                            기능 설명을 확인<span class="hidden-xs">하신</span> 후 자동 투자 기능을 설정하시겠습니까?
                            <div class="setup">
                                <p class="c-org">※ 현재 자동 투자 미사용 중</p>
                                <a href="" class="btn-base termi">기능설명 확인 후 설정하기</a>
                            </div>
                        </div>
                    </div>

                    <div class="row md-wrapper">
                        <div class="revenue com-box row br3">
                            <h3>예상평균 수익률<span class="fc-blue">0 %</span></h3>
                        </div>

                        <div class="total-payment com-box row br3">
                            <h3>총 수익</h3>
                            <div class="tp-box">
                                <p class="tp-p1 clearfix"><span class="pull-left">회수원금</span><span class="pull-right" id="_money">10,000 원</span></p>
                                <p class="tp-p1 clearfix"><span class="pull-left">이자수익(세후)</span><span class="pull-right" id="_profit">75 원</span></p>
                            </div>
                            <p class="tp-p2"><span class="c-blue">0</span> 원</p>
                            <!--<p class="tp-p3"><span class="pull-left">지급 예정중</span><span class="pull-right">0 원</span></p>-->
                        </div>

                        <div class="total-invest com-box row br3">
                            <h3>누적 총 투자금액</h3>
                            <p class="ti-p1"><span class="c-blue">0</span> 원</p>
                            <!--<p class="ti-p2"><span class="pull-left">투자 신청중</span><span class="pull-right">0 원</span></p>-->
                        </div>
                    </div>

                    <div class="md-wrapper com-box row br3 portfolio">
                        <h3>나의 포트폴리오</h3>
                        <div class="pf-tab-box" id="pf-tab-box">
                            <a href="" class="btn br4 on">상품</a>
                            <a href="" class="btn br4">수익률</a>
                            <a href="" class="btn br4">리스트 등급</a>
                        </div>
                        <ul class="chart-box">
                            <li class="on">
                                <div class="chart-area-empty"></div>
                                <div id="canvas-holder-pdt"><span class="in-txt">상품</span>
                                    <canvas id="chart-area-pdt" />
                                </div>
                                <script>
                                    var dataGroupPdt = [0, 0, 0];
                                    if (dataGroupPdt[0] == 0 && dataGroupPdt[1] == 0 && dataGroupPdt[2] == 0) {
                                        $("#canvas-holder-pdt").prev().css("display", "block");
                                    }

                                    var configPdt = {
                                        type: 'doughnut',
                                        data: {
                                            datasets: [{
                                                data: [
                                                    dataGroupPdt[0],
                                                    dataGroupPdt[1],
                                                    dataGroupPdt[2],
                                                ],
                                                backgroundColor: [
                                                    "#575A8D",
                                                    "#B2B1C3",
                                                    "#8488A3",
                                                ],
                                                borderWidth: 4,
                                            }],
                                            labels: [
                                                "법인",
                                                "개인",
                                                "부동산"
                                            ]
                                        },
                                        options: {
                                            responsive: true,
                                            legend: {
                                                position: 'bottom',
                                                labels: {
                                                    usePointStyle: 'circle'
                                                }
                                            },
                                            animation: {
                                                animateScale: false,
                                                animateRotate: true
                                            }
                                        }
                                    };
                                </script>

                            </li>
                            <li>
                                <div class="chart-area-empty"></div>
                                <div id="canvas-holder-rev"><span class="in-txt">수익률</span>
                                    <canvas id="chart-area-rev" />
                                </div>
                                <script>
                                    var dataGroupRev = [10, 10, 10, 10];
                                    if (dataGroupRev[0] == 0 && dataGroupRev[1] == 0 && dataGroupRev[2] == 0 && dataGroupRev[3] == 0) {
                                        $("#canvas-holder-rev").prev().css("display", "block");
                                    }

                                    var configRev = {
                                        type: 'doughnut',
                                        data: {
                                            datasets: [{
                                                data: [
                                                    dataGroupRev[0],
                                                    dataGroupRev[1],
                                                    dataGroupRev[2],
                                                    dataGroupRev[3],
                                                ],
                                                backgroundColor: [
                                                    "#393A7B",
                                                    "#585A8A",
                                                    "#83859E",
                                                    "#AFB0C2"
                                                ],
                                                borderWidth: 2,
                                            }],
                                            labels: [
                                                "8%미만",
                                                "8%~10%",
                                                "10.1~12%",
                                                "12%초과",
                                            ]
                                        },
                                        options: {
                                            responsive: true,
                                            legend: {
                                                position: 'bottom',
                                                labels: {
                                                    usePointStyle: 'circle'
                                                }
                                            },
                                            animation: {
                                                animateScale: false,
                                                animateRotate: true
                                            }
                                        }
                                    };
                                </script>
                            </li>
                            <li>
                                <div class="chart-area-empty"></div>
                                <div id="canvas-holder-grade"><span class="in-txt">리스크 등급</span>
                                    <canvas id="chart-area-grade" />
                                </div>
                                <script>
                                    var dataGroupGrade = [10, 10, 10, 10];
                                    if (dataGroupGrade[0] == 0 && dataGroupGrade[1] == 0 && dataGroupGrade[2] == 0 && dataGroupGrade[3] == 0) {
                                        $("#canvas-holder-rev").prev().css("display", "block");
                                    }

                                    var configGrade = {
                                        type: 'doughnut',
                                        data: {
                                            datasets: [{
                                                data: [
                                                    dataGroupGrade[0],
                                                    dataGroupGrade[1],
                                                    dataGroupGrade[2],
                                                    dataGroupGrade[3],
                                                ],
                                                backgroundColor: [
                                                    "#2AA3FF",
                                                    "#3ACC00",
                                                    "#FFD600",
                                                    "#FF9100"
                                                ],
                                                borderWidth: 2,
                                            }],
                                            labels: [
                                                "A 등급",
                                                "B 등급",
                                                "C 등급",
                                                "D 등급",
                                            ]
                                        },
                                        options: {
                                            responsive: true,
                                            legend: {
                                                position: 'bottom',
                                                labels: {
                                                    usePointStyle: 'circle'
                                                }
                                            },
                                            animation: {
                                                animateScale: false,
                                                animateRotate: true
                                            }
                                        }
                                    };
                                </script>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="bond-pdt com-box row br3">
                    <h3>나의 채권상품<a href="">월별 지금 스케쥴 &gt;</a></h3>
                </div>

                <div class="pdt-cat-box">
                    <ul class="pdt-cate clearfix">
                        <li class="on br4 ml0 clearfix"><span class="pull-left">전체</span><span class="pull-right">1</span></li>
                        <li class="br4 clearfix"><span class="pull-left">투자신청</span><span class="pull-right">1</span></li>
                        <li class="br4 clearfix"><span class="pull-left">상환중</span><span class="pull-right">0</span></li>
                        <li class="br4 ml0 clearfix"><span class="pull-left">상환완료</span><span class="pull-right">0</span></li>
                        <li class="br4 clearfix"><span class="pull-left">연체중</span><span class="pull-right">0</span></li>
                        <li class="br4 clearfix"><span class="pull-left">부도</span><span class="pull-right">0</span></li>
                    </ul>
                </div>

                <!--없을 경우-->
                <!--<p class="pdt-0"><span class="fc-blue">전체</span> 투자상품이 <span class="fc-blue">0개</span> 있습니다.</p>-->
                <!--있을 경우-->
                <div class="mypdt-num com-box row br3">
                    <span class="pull-left nth-1">17.02.22 기준</span><span class="pull-left nth-2">1개의 채권에 투자</span><span class="pull-right">10,000원</span>
                </div>


                <div id="pay_info">
                    <div class="mypdt com-box row br3">
                        <ul class="mp-ul clearfix">
                            <!-- 180706 스타일 제거 -->
                            <li class="mp-li nth1 clearfix">
                                <div class="mp-d1">
                                    <p class="mp-number">채권번호 : 30호</p>
                                    <p class="mp-label">30호, 매출채권 + 동산 담보대출( 컬러 TV)</p>
                                    <!--p class="mp-wid-box"><span class="mp-wid bg-blue" style='width:0%'></span></p-->
                                </div>
                                <!--div class="mp-d2"><p class="mp-label">상환중</p><p class="mp-prc">0/3</p></div-->
                                <div class="mp-d2"></div>
                                <div class="mp-d3">
                                    <p class="mp-label">세후수익</p>
                                    <p class="mp-prc">88원</p>
                                </div>
                                <div class="mp-d4">
                                    <p1 class="mp-label">투자금액<p></p>
                                        <p class="mp-prc fc-blue">30,000원</p>
                                    </p1>
                                </div>
                                <!-- 180706 클래스 추가 및 스타일 제거 -->
                                <!--<a href="javascript: void(0);" onclick="javascript: show_fee('30');" class="btn-mp">원리금수취증서</a>-->
                            </li>
                            <li class="mp-li nth2 clearfix">
                                <div class="mp-d clearfix">
                                    <p class="pull-left">회수원금</p>
                                    <p class="pull-right">15,000원</p>
                                </div>
                                <div class="mp-d clearfix">
                                    <p class="pull-left">투자잔액</p>
                                    <p class="pull-right">15,000원</p>
                                </div>
                                <div class="mp-d clearfix">
                                    <p class="pull-left">이자수익(세후)</p>
                                    <p class="pull-right">88원</p>
                                </div>
                                <div class="mp-d clearfix">
                                    <p class="pull-left">만기일</p>
                                    <p class="pull-right">2018-09-19</p>
                                </div>

                                <!-- 180816 Mobile용 -->
                                <div class="mp-d clearfix hidden-md">
                                    <p class="pull-left">대출실행일</p>
                                    <p class="pull-right">2018-09-19<br>30,000만원</p>
                                </div>
                                <!-- 180807 -->
                                <!-- <div class="mp-d clearfix"><a class="fc-blue pull-right btn btn-more" style="font-size:14px;" href="https://www.nurifunding.co.kr/mydeposit">투자내역 자세히보기</a></div>  -->
                                <div class="mp-d clearfix"><a class="fc-blue pull-right btn btn-table" style="font-size:14px;" href="javascript:test(41)" onclick="$('.exp-list-box').slideToggle();">월별 수익금 지급표</a></div>
                                <!-- // -->
                            </li>
                            <!-- 180816 PC, Table용 -->
                            <li class="row-dPrc hidden-xs">
                                대출실행일: 2018-09-19 <span class="dPrc">30,000만원</span>
                            </li>
                        </ul>

                        <!-- 180807 -->
                        <div class="exp-list-box" style="">
                            <!--<p class="exp-list-tit">※ 금일 2018년 08월 07일 대출실행시 기준</p>-->
                            <div class="exp-list">
                                <div class="thead">
                                    <ul class="tr">
                                        <li class="th nth-1">회차</li>
                                        <li class="th nth-2">날짜</li>
                                        <li class="th nth-3">이용일수</li>
                                        <li class="th nth-4">수익금(세전)</li>
                                        <li class="th nth-5">이자소득세</li>
                                        <li class="th nth-6">주민세</li>
                                        <li class="th nth-7">수익금(세후)</li>
                                    </ul>
                                </div>
                                <div class="tbody">
                                    <ul class="tr">
                                        <li class="td nth-1">1회차</li>
                                        <li class="td nth-2">2018-09-06</li>
                                        <li class="td nth-3">30일</li>
                                        <li class="td nth-4">9,863원</li>
                                        <li class="td nth-5">2,460원</li>
                                        <li class="td nth-6">240원</li>
                                        <li class="td nth-7">7,163원</li>
                                    </ul>
                                </div>
                                <div class="tfoot">
                                    <ul class="tr">
                                        <li class="td nth-1">합계</li>
                                        <li class="td nth-4">9,863원</li>
                                        <li class="td nth-5">2,460원</li>
                                        <li class="td nth-6">240원</li>
                                        <li class="td nth-7">7,163원</li>
                                    </ul>
                                </div>
                            </div>
                            <!--
                        <p class="exp-list-txt">※ 대출 실행일이 매월 1일 ~ 24일까지 - 첫번째 이자수익 지급일은 익월 첫영업일입니다.</p>
                        <p class="exp-list-txt">※ 대출 실행일이 매월 25일 ~ 말일까지 - 첫번째 이자수익 지급일은 익익월 첫영업일입니다.</p>
-->
                        </div>
                        <!-- // -->

                        <!-- 180706 거래내용보기 & 거래내역 테이블 추가 -->
                        <!--
                    <a href="javascript:;" class="btn-mp btn-view">거래내용 <span>보기</span></a>
                    <div class="tab-cont-box" id="tab-cont-box" style="display:none">

                        <section class="all on">
                            <ul class="th clearfix">
                                <li class="nth-1 m">날짜</li>
                                <li class="nth-2">구분</li>
                                <li class="nth-3 m">거래내역</li>
                                <li class="nth-4 m">입출금액</li>
                                <li class="nth-5">거래 후 잔액</li>
                            </ul>
                            <ul class="td clearfix">
                                <li class="nth-1 m">17.02.22</li>
                                <li class="nth-2">투자</li>
                                <li class="nth-3 m">채권번호 : 2498호 대전상가 건물</li>
                                <li class="nth-4 m">-100,000원</li>
                                <li class="nth-5"><span class="fc-blue">100,000</span> 원</li>
                            </ul>
                        </section>
                        <section class="payback">
                            <ul class="th clearfix">
                                <li class="nth-1 m">날짜</li>
                                <li class="nth-2">구분</li>
                                <li class="nth-3 m">거래내역</li>
                                <li class="nth-4 m">지급액</li>
                                <li class="nth-5">누적지급액</li>
                            </ul>
                            <ul class="td clearfix">
                                <li class="nth-1 m">17.02.22</li>
                                <li class="nth-2">투자</li>
                                <li class="nth-3 m">채권번호 : 2498호 대전상가 건물</li>
                                <li class="nth-4 m">100,000원</li>
                                <li class="nth-5"><span class="fc-blue">100,000</span> 원</li>
                            </ul>
                        </section>


                    </div>
-->

                    </div>
                    <div class="mypdt com-box row br3">
                        <!-- 180808 취소 클래스 cancle 추가-->
                        <div class="bg-cancle">취소</div>
                        <!-- // -->
                        <ul class="mp-ul clearfix">
                            <!-- 180706 스타일 제거 -->
                            <li class="mp-li nth1 clearfix">
                                <div class="mp-d1">
                                    <p class="mp-number">채권번호 : 30호</p>
                                    <p class="mp-label">30호, 매출채권 + 동산 담보대출( 컬러 TV)</p>
                                    <!--p class="mp-wid-box"><span class="mp-wid bg-blue" style='width:0%'></span></p-->
                                </div>
                                <!--div class="mp-d2"><p class="mp-label">상환중</p><p class="mp-prc">0/3</p></div-->
                                <div class="mp-d2"></div>
                                <div class="mp-d3">
                                    <p class="mp-label">세후수익</p>
                                    <p class="mp-prc">88원</p>
                                </div>
                                <div class="mp-d4">
                                    <p1 class="mp-label">투자금액<p></p>
                                        <p class="mp-prc fc-blue">30,000원</p>
                                    </p1>
                                </div>
                                <!-- 180706 클래스 추가 및 스타일 제거 -->
                                <!--<a href="javascript: void(0);" onclick="javascript: show_fee('30');" class="btn-mp">원리금수취증서</a>-->
                            </li>
                            <li class="mp-li nth2 clearfix">
                                <div class="mp-d clearfix">
                                    <p class="pull-left">회수원금</p>
                                    <p class="pull-right">15,000원</p>
                                </div>
                                <div class="mp-d clearfix">
                                    <p class="pull-left">투자잔액</p>
                                    <p class="pull-right">15,000원</p>
                                </div>
                                <div class="mp-d clearfix">
                                    <p class="pull-left">이자수익(세후)</p>
                                    <p class="pull-right">88원</p>
                                </div>
                                <div class="mp-d clearfix">
                                    <p class="pull-left">만기일</p>
                                    <p class="pull-right">2018-09-19</p>
                                </div>
                                <!-- 180807 -->
                                <!-- <div class="mp-d clearfix"><a class="fc-blue pull-right btn btn-more" style="font-size:14px;" href="https://www.nurifunding.co.kr/mydeposit">투자내역 자세히보기</a></div>  -->
                                <div class="mp-d clearfix"><a class="fc-blue pull-right btn btn-table" style="font-size:14px;" href="javascript:test(41)" onclick="$('.exp-list-box').slideToggle();">월별 수익금 지급표</a></div>
                                <!-- // -->
                            </li>
                        </ul>

                        <!-- 180807 -->
                        <div class="exp-list-box" style="">
                            <!--<p class="exp-list-tit">※ 금일 2018년 08월 07일 대출실행시 기준</p>-->
                            <div class="exp-list">
                                <div class="thead">
                                    <ul class="tr">
                                        <li class="th nth-1">회차</li>
                                        <li class="th nth-2">날짜</li>
                                        <li class="th nth-3">이용일수</li>
                                        <li class="th nth-4">수익금(세전)</li>
                                        <li class="th nth-5">이자소득세</li>
                                        <li class="th nth-6">주민세</li>
                                        <li class="th nth-7">수익금(세후)</li>
                                    </ul>
                                </div>
                                <div class="tbody">
                                    <ul class="tr">
                                        <li class="td nth-1">1회차</li>
                                        <li class="td nth-2">2018-09-06</li>
                                        <li class="td nth-3">30일</li>
                                        <li class="td nth-4">9,863원</li>
                                        <li class="td nth-5">2,460원</li>
                                        <li class="td nth-6">240원</li>
                                        <li class="td nth-7">7,163원</li>
                                    </ul>
                                </div>
                                <div class="tfoot">
                                    <ul class="tr">
                                        <li class="td nth-1">합계</li>
                                        <li class="td nth-4">9,863원</li>
                                        <li class="td nth-5">2,460원</li>
                                        <li class="td nth-6">240원</li>
                                        <li class="td nth-7">7,163원</li>
                                    </ul>
                                </div>
                            </div>
                            <!--
                        <p class="exp-list-txt">※ 대출 실행일이 매월 1일 ~ 24일까지 - 첫번째 이자수익 지급일은 익월 첫영업일입니다.</p>
                        <p class="exp-list-txt">※ 대출 실행일이 매월 25일 ~ 말일까지 - 첫번째 이자수익 지급일은 익익월 첫영업일입니다.</p>
-->
                        </div>
                        <!-- // -->

                        <!-- 180706 거래내용보기 & 거래내역 테이블 추가 -->
                        <!--
                    <a href="javascript:;" class="btn-mp btn-view">거래내용 <span>보기</span></a>
                    <div class="tab-cont-box" id="tab-cont-box" style="display:none">

                        <section class="all on">
                            <ul class="th clearfix">
                                <li class="nth-1 m">날짜</li>
                                <li class="nth-2">구분</li>
                                <li class="nth-3 m">거래내역</li>
                                <li class="nth-4 m">입출금액</li>
                                <li class="nth-5">거래 후 잔액</li>
                            </ul>
                            <ul class="td clearfix">
                                <li class="nth-1 m">17.02.22</li>
                                <li class="nth-2">투자</li>
                                <li class="nth-3 m">채권번호 : 2498호 대전상가 건물</li>
                                <li class="nth-4 m">-100,000원</li>
                                <li class="nth-5"><span class="fc-blue">100,000</span> 원</li>
                            </ul>
                        </section>
                        <section class="payback">
                            <ul class="th clearfix">
                                <li class="nth-1 m">날짜</li>
                                <li class="nth-2">구분</li>
                                <li class="nth-3 m">거래내역</li>
                                <li class="nth-4 m">지급액</li>
                                <li class="nth-5">누적지급액</li>
                            </ul>
                            <ul class="td clearfix">
                                <li class="nth-1 m">17.02.22</li>
                                <li class="nth-2">투자</li>
                                <li class="nth-3 m">채권번호 : 2498호 대전상가 건물</li>
                                <li class="nth-4 m">100,000원</li>
                                <li class="nth-5"><span class="fc-blue">100,000</span> 원</li>
                            </ul>
                        </section>


                    </div>
-->

                    </div>
                </div>
                <!--<div class="mypdt com-box row br3">
                <ul class="mp-ul clearfix">
                    <li class="mp-li nth1 clearfix">
                        <div class="mp-d1">
                            <p class="mp-number">채권번호 : 41586호</p>
                            <p class="mp-label">퍼드림채권 103호</p>
                            <p class="mp-wid-box"><span class="mp-wid bg-blue"></span></p>
                        </div>
                        <div class="mp-d2">
                            <p class="mp-label">상환중</p>
                            <p class="mp-prc">0/1</p>
                        </div>
                        <div class="mp-d3">
                            <p class="mp-label">수익</p>
                            <p class="mp-prc">2,000원</p>
                        </div>
                        <div class="mp-d4">
                            <p class="mp-label">투자금액</p>
                            <p class="mp-prc fc-blue">10,000원</p>
                        </div>
                    </li>
                    <li class="mp-li nth2 clearfix">
                        <div class="mp-d clearfix">
                            <p class="pull-left">지급</p>
                            <p class="pull-right">0원</p>
                        </div>
                        <div class="mp-d clearfix">
                            <p class="pull-left">지급예정</p>
                            <p class="pull-right">0원</p>
                        </div>
                        <div class="mp-d clearfix">
                            <p class="pull-left">지급기간</p>
                            <p class="pull-right">-</p>
                        </div>
                        <div class="mp-d clearfix">
                            <p class="pull-left">다음 지급일</p>
                            <p class="pull-right">17.03.02</p>
                        </div>
                    </li>
                </ul>

            </div>-->

            </div>
        </section>

        <script>
            window.onload = function() {
                var ctxPdt = document.getElementById("chart-area-pdt").getContext("2d");
                window.myDoughnut = new Chart(ctxPdt, configPdt);

                var ctxRev = document.getElementById("chart-area-rev").getContext("2d");
                window.myLine = new Chart(ctxRev, configRev);


                var ctxGrade = document.getElementById("chart-area-grade").getContext("2d");
                window.myDoughnut = new Chart(ctxGrade, configGrade);

            };
        </script>

        <!-- 메인, 내정보, 투자하기 페이지 -->
        <!--180917 미리페이 띠배너-->
        <!-- <section class="miripayBn">
    <h2 class="hidden">보유하신 매출채권으로 필요자금 긴급지원! 미리페이 선지급 서비스로 간편하고 빠르게!</h2>
    <figure>
        <img src="http://nurifunding.co.kr/img/banner/bn_miripay.png" alt="미리페이 선지급 서비스" class="hidden-xs">
        <img src="http://nurifunding.co.kr/img/banner/bn_miripay_m.png" alt="미리페이 선지급 서비스" class="hidden-md">
    </figure>
</section> -->
        <!--180319 수정사항 End-->

        <!-- 180601 배너 추가 -->
        <!--
    <div class="side-banner">
        <a href="#none" class="hidden-md"><img src="http://img.nurifunding.co.kr/side_banner_01.png" alt="카카오톡 플러스 친구" /></a>
        <a href="#none"><img src="http://img.nurifunding.co.kr/side_banner_02.jpg" alt="가상계죄개설시1만원지급" /></a>
    </div>
-->

        <!-- 180528 푸터 수정 -->
        @@include('../include/_footer.html')
    </div>

</body>

</html>