.pop-non-scroll {
	overflow: hidden;
}
.pop-area-box {
	position: fixed;
	top: 0;
	z-index: 200;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
	img {
		vertical-align: middle;
		width: 100%;
	}
	.pop-box {
		position: fixed;
		width: 420px;
		top: 140px;
		left: 0;
		right: 0;
		margin: 0 auto;
		.pop-main-box {

		}
		.pop-btn-box {
			background-color: #fff;
			height: 42px;
			display: flex;
			width: 100%;
			border-top: solid 1px #ccc;
			button {
				width: 50%;
				height: 100%;
				outline: none;
				color: #666;
				font-size: 16px;
				font-weight: 600;
			}
			.btn-not-day {
				border-right: solid 1px #ccc;
			}
		}
	}

}
@media (max-width:768px) {
	.pop-area-box {
		.pop-box {
			width: calc(700/768 *100vw);
			top: 52%;
			transform: translateY(-50%);
			left: 0;
			right: 0;
			margin: 0 auto;
			.pop-main-box {

			}
			.pop-btn-box {
				height: calc(88/768 * 100vw);
				button {
					font-size: calc(32/768 * 100vw);
				}
			}
		}
	}
}
