<!DOCTYPE html>
<html lang="ko-KR">

<head>

    <meta name="title" content="누리펀딩" />
    <meta name="author" content="누리펀딩" />
    <meta name="subject" content="후순위담보대출, 판매대금 선정산, 영업수입, 임대료, 미래 수익 담보대출 등" />
    <meta name="description" content="후순위담보대출, 판매대금 선정산, 영업수입, 임대료, 미래 수익 담보대출 등" />
    <meta name="keywords" content="후순위담보대출, 판매대금 선정산, 영업수입, 임대료, 미래 수익 담보대출 등" />
    <meta name="classification" content="누리펀딩" />

    <!-- 오픈그래프 -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="누리펀딩" />
    <meta property="og:description" content="후순위담보대출, 판매대금 선정산, 영업수입, 임대료, 미래 수익 담보대출 등" />
    <meta property="og:url" content="https://www.nurifunding.co.kr" />
    <meta property="og:site_name" content="누리펀딩" />
    <meta property="og:image" content="https://www.nurifunding.co.kr/img/og_img.png">
    <!-- 오픈그래프 -->

    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
    <title>누리펀딩</title>

    <link rel="shortcut icon" href="https://www.nurifunding.co.kr/img/32x32.ico" />
    <!-- Android icon -->
    <link rel='shortcut icon' href='https://www.nurifunding.co.kr/img/128x128.png' />
    <!-- iPhone icon -->
    <link rel='apple-touch-icon' sizes='57x57' href='https://www.nurifunding.co.kr/img/57x57.png' />
    <!-- iPad icon -->
    <link rel='apple-touch-icon' sizes='72x72' href='https://www.nurifunding.co.kr/img/72x72.png' />
    <!-- iPhone icon(Retina) -->
    <link rel='apple-touch-icon' sizes='114x114' href='https://www.nurifunding.co.kr/img/114x114.png' />
    <!-- iPad icon(Retina) -->
    <link rel='apple-touch-icon' sizes='144x144' href='https://www.nurifunding.co.kr/img/144x144.png' />



    <link rel="stylesheet" href="https://www.nurifunding.co.kr/static/fonts/NanumBarunGothic/nanumbarungothic.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css?ver=1623914152">
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/nanumgothic.css?ver=1623914152">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css?ver=1623914152">
    <link rel="canonical" href="https://www.nurifunding.co.kr">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://www.nurifunding.co.kr/static/css/common.css">
    <link rel="stylesheet" href="https://www.nurifunding.co.kr/static/css/animate.css">
    <link rel="stylesheet" href="https://www.nurifunding.co.kr/static/css/nivo-lightbox-theme/default.css">
    <link rel="stylesheet" href="https://www.nurifunding.co.kr/static/css/nivo-lightbox.css">
    <link rel="stylesheet" href="https://www.nurifunding.co.kr/static/css/jquery.bxslider.css">

    <script type="text/javascript" src="https://www.nurifunding.co.kr/static/js/jquery-1.10.2.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js?ver=1623914152"></script>
    <script type="text/javascript" src="https://www.nurifunding.co.kr/static/js/common.js"></script>
    <script type="text/javascript" src="https://www.nurifunding.co.kr/static/js/com.js"></script>
    <script type="text/javascript" src="https://www.nurifunding.co.kr/static/js/Chart.bundle.min.js"></script>

    <script type="text/javascript" src="https://www.nurifunding.co.kr/static/js/nivo-lightbox.min.js"></script>
    <script type="text/javascript" src="https://www.nurifunding.co.kr/static/js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="https://www.nurifunding.co.kr/static/js/jquery.animateNumber.min.js"></script>
    <script type="text/javascript" src="https://www.nurifunding.co.kr/static/js/waypoints.min.js"></script>
    <script type="text/javascript" src="https://www.nurifunding.co.kr/static/js/jquery.easing.min.js"></script>

    <link rel="stylesheet" href="https://www.nurifunding.co.kr/static/css/service/service2.css">
    <!-- <link rel="stylesheet" href="../../../static/test/css/service2.css"> -->


    <link rel="stylesheet" href="https://www.nurifunding.co.kr/static/css/nivo-lightbox-theme/default.css">
    <link rel="stylesheet" href="https://www.nurifunding.co.kr/static/css/nivo-lightbox.css">
    <script type="text/javascript" src="https://www.nurifunding.co.kr/static/js/nivo-lightbox.min.js"></script>
    <script type="text/javascript" src="https://www.nurifunding.co.kr/static/js/service/service.js"></script>
    <script type="text/javascript">
        document.domain = 'nurifunding.co.kr';

        /*
        var setCookie = function(name, value, exp) {
            var date = new Date();
            date.setTime(date.getTime() + exp*24*60*60*1000);
            document.cookie = name + '=' + value + ';expires=' + date.toUTCString() + ';path=/';
        };
    
        var deleteCookie = function(name) {
            document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        }
    
        var getCookie = function(name) {
            var value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
            return value? value[2] : null;
        };
        */

        function setCookie(name, value, d) {
            document.cookie = name + '=' + escape(value) + '; path=/' + (d ? '; expires=' + (function (t) { t.setDate(t.getDate() + d); return t })(new Date).toGMTString() : '');
        }

        function getCookie(name) {
            name = new RegExp(name + '=([^;]*)');
            return name.test(document.cookie) ? unescape(RegExp.$1) : '';
        }
    </script>

    <!--[if lt IE 9]>
    <link rel="stylesheet" href="https://www.nurifunding.co.kr/static/css/grid_ie9lt.min.css?ver=1623914152">
    <link rel="stylesheet" href="https://www.nurifunding.co.kr/static/css/common_ie9lt.css?ver=1623914152">
	<link rel="stylesheet" href="https://www.nurifunding.co.kr/static/css/service/service2_ie9lt.css?ver=1623914152">   
    <script type="text/javascript" src="https://www.nurifunding.co.kr/static/js/ie9_lt.js?ver=1623914152"></script>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js?ver=1623914152"></script>
  <![endif]-->

    <style>
        .info-sect .is-box.nth-5 {
            display: flex;
            justify-content: space-between;
        }

        .info-sect .is-box.nth-5 .career-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
        }

        .info-sect .is-box.nth-5 .career-list .history {
            width: 305px;
        }

        .info-sect .is-box.nth-5 .career-list .p1:after {
            width: 120px;
        }

        @media (max-width: 768px) {
            .info-sect .is-box.nth-5 {
                flex-direction: column;
                justify-content: center;
            }

            .info-sect .is-box.nth-5 .career-list {
                margin-bottom: 1rem;
                width: 100%;
            }

            .info-sect .is-box.nth-5 .career-list .p1 {
                margin-bottom: 1rem;
            }

            .info-sect .is-box.nth-5 .career-list .history {
                margin: 0;
                width: 232px;
            }
        }

        @media (max-width: 425px) {
            .info-sect .is-box.nth-5 .career-list .history {}
        }
    </style>
</head>

<body>
    <div id="uppri_pop"
        style="position:relative; top:0px; left:50%; width:50%; z-index:10000; display:block; background:red;">
        <div style="position:absolute; right:200px; top:25px">
            <iframe id="ebiz_counter" src="https://www.nurifunding.co.kr/common/counter.php" width="300" height="350"
                frameborder="0" marginheight="0" marginwidth="0" scrolling="0"
                style="width:200px; position:absolute; top:22px;"></iframe>
        </div>
    </div>

    <h1 class="skip">누리펀딩</h1>
    <div class="wrap">
        <!-- 일반 해더 -->
        <header class="header" id="header">
            <div class="container header-box">
                <div class="navbar-header">
                    <button type="button" class="nav-tab show-xs">
                        <span class="icon-bar b1"></span>
                        <span class="icon-bar b2"></span>
                        <span class="icon-bar b3"></span>
                    </button>
                    <h2><a href="/" class="navbar-brand"><img src="https://www.nurifunding.co.kr/img/logo.png"
                                alt="logo"></a></h2>
                    <a href="/member/member_info.php" class="my-tab show-xs"><img
                            src="https://www.nurifunding.co.kr/img/myp_icon.png" alt="mypage"></a>
                </div>
                <div class="navbar-collapse pull-right hidden-xs">
                    <ul class="main-nav clearfix">
                        <li><a href="/invest/">투자하기</a></li>
                        <li class="hidden-xs hidden-sm hidden-margin"></li>
                        <li><a href="/loan/ask.php">대출하기</a></li>
                        <li class="hidden-xs hidden-sm hidden-margin"></li>
                        <li><a href="/invest/nuri.php">누리워드</a></li>
                        <li class="hidden-xs hidden-sm hidden-margin"></li>
                        <!-- <li><a href="/member/auto.php">자동투자 <span class="ic-new">NEW</span></a></li> -->
                        <li class="hidden-xs hidden-sm hidden-margin"></li>
                        <li><a href="/miripay/">미리페이</a></li>
                        <li class="hidden-xs hidden-sm hidden-margin"></li>
                        <li><a href="/service/">회사소개</a>
                            <nav class="sub-nav">
                                <ul>
                                    <li><a href="/service/">회사소개</a></li>
                                    <li><a href="/service/ceo.php">대표이사소개</a></li>
                                    <li><a href="/service/company_ir.php">기업 IR정보</a></li>
                                </ul>
                            </nav>
                        </li>
                        <li class="hidden-xs hidden-sm hidden-margin"></li>
                        <li><a>이용안내</a>
                            <nav class="sub-nav">
                                <ul>
                                    <li><a href="/faq/">FAQ</a></li>
                                    <li><a href="/notice/">공지사항</a></li>
                                    <li><a href="/dataroom/">자료실</a></li>
                                </ul>
                            </nav>
                        </li>

                        <li class="hidden-xs hidden-sm hidden-margin"></li>
                        <li><a class="c-blue" href="/member/join.php">회원가입</a></li>
                        <li class="hidden-xs hidden-sm hidden-margin"></li>
                        <li><a class="c-blue" href="/member/login.php">로그인</a></li>
                    </ul>
                </div>
            </div>

        </header>
        <!-- 모바일 네비게이션 -->
        <section class="mlnb-wrap show-xs" id="mlnb-wrap">
            <div class="mlnb-container">
                <header class="mlnb-header">
                    <p class="top-box">
                        <a href="" class="mh-logo"><img src="https://www.nurifunding.co.kr/img/lnb_logo.png"
                                alt="logo"></a>
                        <a href="#" class="cls-btn"><img src="https://www.nurifunding.co.kr/img/cls_icon.png"
                                alt="close"></a>
                    </p>
                    <div class="t-box">
                        <p>지금 바로 로그인하고</p>
                        <p>누리펀딩의 투자서비스를 이용하세요!</p>
                        <p class="nth-3"><a href="/member/login.php">로그인</a><a href="/member/join.php"
                                class="nth-2">회원가입</a></p>
                    </div>
                </header>
                <ul class="mlnb">
                    <li><a href="/invest/">투자하기<img src="https://www.nurifunding.co.kr/img/arrow_r_icon.png"
                                alt="invest"></a></li>
                    <li><a href="/loan/ask.php">대출하기<img src="https://www.nurifunding.co.kr/img/arrow_r_icon.png"
                                alt="loan"></a></li>
                    <li><a href="/invest/nuri.php">누리워드 <img src="https://www.nurifunding.co.kr/img/arrow_r_icon.png"
                                alt="바로가기"></a></li>
                    <!-- <li><a href="/member/auto.php">자동투자 <span class="ic-new big">NEW</span> <img src="https://www.nurifunding.co.kr/img/arrow_r_icon.png" alt="바로가기"></a></li> -->
                    <li><a href="/miripay/">미리페이<img src="https://www.nurifunding.co.kr/img/arrow_r_icon.png"
                                alt="miri"></a></li>
                    <li>
                        <a href="javascript:void(0)">회사소개<img src="https://www.nurifunding.co.kr/img/arrow_r_icon.png"
                                alt="company"></a>
                        <nav class="m-sub-nav">
                            <ul>
                                <li><a href="/service/">회사소개</a></li>
                                <li><a href="/service/ceo.php">대표소개</a></li>
                                <li><a href="/service/company_ir.php">기업 IR정보</a></li>
                            </ul>
                        </nav>
                    </li>
                    <li>
                        <a>이용안내<img src="https://www.nurifunding.co.kr/img/arrow_r_icon.png" alt="info"></a>
                        <nav class="m-sub-nav">
                            <ul>
                                <li><a href="/faq/">FAQ</a></li>
                                <li><a href="/notice/">공지사항</a></li>
                                <li><a href="/dataroom/">자료실</a></li>
                            </ul>
                        </nav>
                    </li>
                </ul>
            </div>
        </section>
        <section class="page-sect">
            <div class="container">
                <div class="ps-wrap com-box">
                    <h2 class="ps-h2">회사소개</h2>
                </div>
            </div>
        </section>


        <section class="info-sect">
            <div class="container">
                <!--  -->
                <div class="is-wrap com-box low">
                    <!-- 대출이 쉬운 p2p 금융은? -->
                    <div class="is-box nth-1 col-xs-12 col-sm-12">
                        <h3 class="is-h3">대출이 쉬운 P2P금융은?</h3>
                        <p class="is-p">
                            <span class="sm-block">온라인 플랫폼에서 개인 간에 필요 자금을 지원하고 대출하는 서비스를 말합니다.</span>
                            <span class="sm-block">덕분에 대출과 목돈 마련이 쉬워졌죠. 그런데 말입니다. <span class="c-blue f-bd">큰 돈이 오가는 대출과
                                    투자,</span></span>
                            <span class="c-blue f-bd">과연 어떤 회사에 맡겨야 할까요?</span>
                        </p>
                        <p class="is-p2">
                            <img src="https://www.nurifunding.co.kr/img/service/service_ill_01.png" alt="누리펀딩">
                        </p>
                    </div>
                    <!-- 누리펀딩은 이렇게 만들어졌습니다 -->
                    <div class="is-box nth-2 col-xs-12 col-sm-12">
                        <h3 class="is-h3">누리펀딩은 이렇게 만들어졌습니다</h3>
                        <!-- 180731 br->span 태그로 변경 및 클래스 추가 -->
                        <p class="is-p">
                            <span class="sm-block">30년 경력 탄탄한 <span class="c-blue f-bd">금융 전문가</span>와 <span
                                    class="c-blue f-bd">토탈 IT 서비스 전문 기업</span>으로</span> 10년 동안 <span
                                class="c-blue f-bd">온라인 사이트의 보안</span>을 책임져온 ㈜이비즈네트웍스가 <span
                                class="show-md"></span><span class="c-blue f-bd">누리펀딩</span>에서 만났습니다.
                        </p>
                        <p class="is-p2">
                            <img src="https://www.nurifunding.co.kr/img/service/service_ill_02.png" alt="누리펀딩">
                        </p>
                    </div>
                    <!-- 웹+보안+금융 경험 -->
                    <div class="is-box nth-4 col-xs-12 col-sm-12">
                        <h3 class="is-h3">웹 &#43; 보안 &#43; 금융 경험<br><span class="c-blue">P2P 금융</span>의 <span
                                class="c-blue">최고</span>의 인력입니다</h3>
                        <p class="is-p">
                            <span class="sm-block">담보가 있어도 대출받기 어려운 현실, 은행에 돈을 맡겨도 느는 듯 마는 듯한 이자</span>
                            <span class="sm-block">대출은 까다롭고, 예금 이자는 낮고 ‘누리펀딩’과 새로운 인생을 설계해보세요.</span> 대출자와 투자자가 모두가 만족할
                            수 있는 금융을 만들겠습니다．
                        </p>
                        <p class="is-p2">
                            <img src="https://www.nurifunding.co.kr/img/service/service_ill_04.png" alt="누리펀딩">
                        </p>
                    </div>
                    <!-- 쉬운 투자, 쉬운 대출 -->
                    <div class="is-box nth-3 col-xs-12 col-sm-12">
                        <h3 class="is-h3"><span class="c-blue xs-block">쉬운 투자, 쉬운 대출</span> 누리펀딩은 이렇게 말합니다</h3>
                        <div class="row d1">
                            <div class="col-xs-12 col-sm-4 nth-1">
                                <img src="https://www.nurifunding.co.kr/img/service/service_ill_03_1.png"
                                    alt="직접보는투자상품">
                                <h3>내 눈으로<br>직접 보는 투자 상품</h3>
                                <p>
                                    <span class="sm-block md-inline">투자상품의 리스크를 직접</span> 확인할 수 있습니다.<br>
                                    권리분석, 시세, 가치, 변동 등<br>
                                    <span class="c-blue f-bd">내가 투자하는 부동산에 대한 모든<br>
                                        정보를 한눈에</span> 볼 수 있습니다.
                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-4 nth-2">
                                <img src="https://www.nurifunding.co.kr/img/service/service_ill_03_2.png" alt="전문가의설명">
                                <h3>30년 금융 전문가의<br>금융 분석 쉬운 설명</h3>
                                <p>
                                    <span class="sm-block md-inline">STAR Loan Rating</span> 심사 알고리즘을 적용해<br>
                                    <span class="c-blue f-bd">믿을 수 있는 신용평가 시스템, 전문가의<br>
                                        철두철미한 분석</span> 그리고 <span class="c-blue f-bd">쉬운 설명</span>은<br>
                                    투자 상품에 대한 이해를 높여줍니다.
                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-4 nth-3">
                                <img src="https://www.nurifunding.co.kr/img/service/service_ill_03_3.png" alt="쉬운투자">
                                <h3>강력한 보안과<br>쉬운 투자</h3>
                                <p>
                                    <span class="c-blue f-bd">개인정보 유출 방지 시스템</span>을<br>
                                    도입해 안전합니다. 그리고 누리펀딩은<br>
                                    복잡하지 않은 절차로<br>
                                    <span class="c-blue f-bd">간편하게 투자</span>할 수 있습니다.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- P2P 가이드라인 시행 후 투자한도 안내 -->
                    <div class="is-box nth-6 col-xs-12 col-sm-12">
                        <h3 class="is-h3">P2P 가이드라인 시행 후 <span class="c-blue">투자한도</span> 안내</h3>

                        <table id="guide_line">
                            <colgroup>
                                <col width="25%">
                                <col width="">
                                <col width="15%">
                                <col width="15%">
                            </colgroup>

                            <thead>
                                <tr>
                                    <th>투자자 구분</th>
                                    <th>자격요건</th>
                                    <th>1회<br>투자한도</th>
                                    <th class="last">투자한도<br>회사당(잔액기준)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>개인투자자</td>
                                    <td class="center">-</td>
                                    <td class="center">500만원</td>
                                    <td class="last center">1천만원</td>
                                </tr>
                                <tr>
                                    <td>소득요건을 구비한<br>개인 투자자</td>
                                    <td><b>두 가지 중 한 가지 충족 시</b><br>1. 이자, 배당소득 2천만원 초과<br>2. 사업, 근로소득 1억원 초과</td>
                                    <td class="center">2천만원</td>
                                    <td class="last center">4천만원</td>
                                </tr>
                                <tr>
                                    <td>개인 전문 투자자</td>
                                    <td><b>세 가지 모두 충족 시</b><br>1. 금융 투자업자에게 계좌 개설 1년 경과<br>2. 금융 투자상품 잔고 5억원 이상<br>3.
                                        소득액 1억원 또는 재산가액 10억원 이상</td>
                                    <td class="center">제한없음</td>
                                    <td class="last center">제한없음</td>
                                </tr>
                                <tr>
                                    <td>법인 투자자</td>
                                    <td class="center">-</td>
                                    <td class="center">제한없음</td>
                                    <td class="last center">제한없음</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- 이비즈네트웍스의 강력한 보안 -->
                    <div class="is-box nth-6 col-xs-12 col-sm-12">
                        <h3 class="is-h3">이비즈네트웍스의 <span class="c-blue">강력한 보안</span></h3>
                        <p class="is-p">
                            30년 경력 탄탄한 금융 전문가와 <span class="xs-block"></span>토탈 IT서비스 전문기업으로 온라인 사이트의<br>
                            보안을 책임져온 이비즈네트웍스가 <span class="xs-block"></span>누리펀딩에서 만났습니다
                        </p>
                        <img src="https://www.nurifunding.co.kr/img/service/certifi_img.jpg" alt="안툴즈">
                    </div>
                    <!-- 대표 김정권, 금융전문가 자격증 -->
                    <div class="is-box nth-7 col-xs-12 col-sm-12 clearfix">
                        <div class="rep-area">
                            <div class="rep-img"><img src="https://nurifunding.co.kr/img/service/img_rep01.jpg"
                                    alt="대표 김정권"></div>
                            <div class="history-box">
                                <div class="d2">
                                    <h3 class="is-h3">
                                        대표 김정권
                                        <span>(여신심사협의회 의장)</span>
                                    </h3>

                                    <p class="history-tit">주요이력 (KB 국민은행 30년 근무)</p>
                                    <ul class="history-list list-left">
                                        <li>
                                            <div class="fir c-blue">2008</div>
                                            <div class="">헬싱키 경제경영대학원 MBA졸업</div>
                                        </li>
                                        <li>
                                            <div class="fir c-blue">1999</div>
                                            <div class="">국민은행 여신심사역 과정</div>
                                        </li>
                                        <li>
                                            <div class="fir c-blue">2000</div>
                                            <div class="c-blue f-bd">국민은행 심사센터 여신심사역 (전업종)</div>
                                        </li>
                                        <li>
                                            <div class="fir c-blue">2002</div>
                                            <div class="">마포기업금융지점 팀장 (RM/PF/대출)</div>
                                        </li>
                                        <li>
                                            <div class="fir c-blue">2007</div>
                                            <div class="c-blue f-bd">국민은행 기업여신심사부 팀장<br>(투자금융/SOC/유동화/해외투자)</div>
                                        </li>
                                    </ul>
                                    <ul class="history-list list-left">
                                        <li>
                                            <div class="fir c-blue">2010</div>
                                            <div class="">국민은행 지점장 (망원동/시화공단/목동)</div>
                                        </li>
                                        <li>
                                            <div class="fir c-blue">2014</div>
                                            <div class="">국민은행 기관영업부 부장<br>(정부기관/시도금고/학교/병원 협약)</div>
                                        </li>
                                        <li>
                                            <div class="fir c-blue">2016</div>
                                            <div class="c-blue f-bd">국민은행 지역본부장<br>(중앙2 지역, 인천북2 지역)</div>
                                        </li>
                                        <li>
                                            <div class="fir c-blue">2018</div>
                                            <div class="">(주)누리펀딩 창업</div>
                                        </li>
                                    </ul>

                                    <p class="history-tit">수상이력</p>
                                    <ul class="history-list">
                                        <li>
                                            <div class="fir c-blue">2005</div>
                                            <div class="">국민은행 국은인상</div>
                                        </li>
                                        <li>
                                            <div class="fir c-blue">2014</div>
                                            <div class="">국방부장관 표창장</div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="d1">
                                    <h3 class="is-h3"><span class="c-blue">금융전문가</span> 자격증</h3>
                                    <div class="certifi-box clearfix">
                                        <a data-lightbox-gallery="reg"
                                            href="https://www.nurifunding.co.kr/img/service/certificate_01_big.jpg"
                                            title="신용분석사 자격증" target="_blank">
                                            <img src="https://www.nurifunding.co.kr/img/service/certificate_01.jpg"
                                                alt="신용분석사 자격증">
                                            <img class="mag" src="https://www.nurifunding.co.kr/img/magnify.png"
                                                alt="확대하기">
                                            <span class="cap">신용분석사 자격증</span>
                                        </a>
                                        <a data-lightbox-gallery="reg"
                                            href="https://www.nurifunding.co.kr/img/service/certificate_02_big.jpg"
                                            title="대출심사역 자격증" target="_blank">
                                            <img src="https://www.nurifunding.co.kr/img/service/certificate_02.jpg"
                                                alt="대출심사역 자격증">
                                            <img class="mag" src="https://www.nurifunding.co.kr/img/magnify.png"
                                                alt="확대하기">
                                            <span class="cap">대출심사역 자격증</span>
                                        </a>
                                        <a data-lightbox-gallery="reg"
                                            href="https://www.nurifunding.co.kr/img/service/certificate_03_big.jpg"
                                            title="여신법률 수료증" target="_blank">
                                            <img src="https://www.nurifunding.co.kr/img/service/certificate_03.jpg"
                                                alt="여신법률 수료증">
                                            <img class="mag" src="https://www.nurifunding.co.kr/img/magnify.png"
                                                alt="확대하기">
                                            <span class="cap">여신법률 수료증</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 주요 경력사항 -->
                    <div class="is-box nth-5 col-xs-12 col-sm-12">
                        <!-- 2021.06.17 d2에 클래스 career-list 추가 -->
                        <div class="d2 career-list">
                            <h3 class="is-h3">
                                <span class="c-blue">변호사</span>
                                주요 경력사항
                            </h3>
                            <p class="p1">
                                변호사 김부식
                            </p>
                            <ul class="history nth-1">
                                <li class="clearfix">
                                    <div class="c-blue pull-left">1985</div>
                                    <div class="pull-right">사법시험 (27회) 합격</div>
                                </li>
                                <li class="clearfix">
                                    <div class="c-blue pull-left">1986</div>
                                    <div class="pull-right">서울대법과대학 졸업</div>
                                </li>
                                <li class="clearfix">
                                    <div class="c-blue pull-left">1991</div>
                                    <div class="pull-right">법무부 송무과장</div>
                                </li>
                                <li class="clearfix">
                                    <div class="c-blue pull-left">2001</div>
                                    <div class="pull-right">서울동부지검 부장검사</div>
                                </li>
                                <li class="clearfix">
                                    <div class="c-blue pull-left">2007</div>
                                    <div class="pull-right">법무법인 우현 대표변호사</div>
                                </li>
                                <li class="clearfix">
                                    <div class="c-blue pull-left">2016</div>
                                    <div class="pull-right">현, 법무법인 대륙 아주변호사</div>
                                </li>
                            </ul>
                        </div>

                        <!-- 2021.06.17 세무사 주요경력사항 추가 -->
                        <div class="d2 career-list">
                            <h3 class="is-h3">
                                <span class="c-blue">세무사</span>
                                주요 경력사항
                            </h3>
                            <p class="p1">세무사 정종식</p>
                            <ul class="history nth-1">
                                <li class="clearfix">
                                    <div class="c-blue pull-left">1985</div>
                                    <div class="pull-right">세무대학 졸업</div>
                                </li>
                                <li class="clearfix">
                                    <div class="c-blue pull-left">2014</div>
                                    <div class="pull-right">영덕세무서장</div>
                                </li>
                                <li class="clearfix">
                                    <div class="c-blue pull-left">2015</div>
                                    <div class="pull-right">서대문세무서장</div>
                                </li>
                                <li class="clearfix">
                                    <div class="c-blue pull-left">2018</div>
                                    <div class="pull-right">잠실세무서장</div>
                                </li>
                                <li class="clearfix">
                                    <div class="c-blue pull-left">2020</div>
                                    <div class="pull-right">현,세무법인 삼환 대표세무사</div>
                                </li>
                            </ul>
                        </div>
                        <!-- //2021.06.17 세무사 주요경력사항 추가 -->
                    </div>
                    <!-- //주요 경력사항 -->
                </div>
            </div>
        </section>



        <script>
            $(function () {
                var scrNum = 300
                $(window).scroll(function () {
                    var scr = $(window).scrollTop();
                    //console.log(scr); 
                    if (scr > scrNum) {
                        $(".side-banner").fadeOut();
                    } else {
                        $(".side-banner").fadeIn();
                    }
                });
            });
        </script>

        <footer class="footer-01">
            <div class="container footer-box">
                <div class="logo">
                    <img class="" src="https://nurifunding.co.kr/img/fLogo_02.jpg" alt="footer_logo">
                </div>
                <div class="a-txt">
                    <a href="/service/">회사소개</a>
                    <a target="_blank" href="/policy/service.php">서비스이용약관</a>
                    <a target="_blank" href="/policy/invest.php">투자이용약관</a>
                    <a target="_blank" href="/policy/policy.php" class="nth-4">개인정보취급방침</a>
                    <a target="_blank" href="/policy/basic.php">대부거래기본약관</a>
                </div>

                <div class="f-adr-box clr">
                    <div class="f-adr">
                        <address>
                            <span>(주) 누리펀딩</span>
                            서울시 강남구 테헤란로 82길 15, 11층 (대치동,디아이타워)<br>
                            대표이사: 김정권 ㅣ 사업자등록번호 677-81-00871<br>
                            E-mail : help@nurifunding.co.kr
                        </address>
                        <ul class="f-link-list clr">
                            <li><a href=" http://www.fss.or.kr" target="_blank" class="a-link"><img
                                        src="https://nurifunding.co.kr/img/bt_main.png" alt="bt_main"></a></li>
                        </ul>
                    </div>
                    <div class="f-adr">
                        <address>
                            <span>(주)누리펀딩대부</span>
                            서울시 강남구 테헤란로 82길 15, 11층 (대치동,디아이타워)<br>
                            대표이사: 김정권 ㅣ 사업자등록번호 791-86-00662<br>
                            P2P연계대부업 : 2018-금감원-1486 ㅣ 등록기관 : 금융감독원<br>
                            E-mail : help@nurifunding.co.kr
                        </address>
                    </div>
                    <div class="f-adr last">
                        <address>
                            <span class="fc-yellow">고객센터 1666-4570</span>
                            평일 : 09시~18시 | 점심휴무 : 12:30~ 13:30<br>
                            토.일.공휴일 : 휴무
                        </address>
                        <ul class="f-link-list clr">
                            <li><a href="https://blog.naver.com/jkkim317" target="_blank" class="a-link"><img
                                        src="https://nurifunding.co.kr/img/bt_blog.png" alt="blog"></a></li>
                            <li><a href="http://pf.kakao.com/_xnjkKC" class="a-link"><img
                                        src="https://nurifunding.co.kr/img/bt_kakaotalk.png" alt="kakao_plus_bt"></a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="f-txt-box">
                    <div class="f-txt">
                        <!--당사는 투자상품에 관하여 충분하게 설명할 의무가 있으며, 투자자는 약관을 통해 위험성, 수익성, 수수료 등에 대하여 인지 후 투자하시기 바랍니다. <br>
                        <span class="c-blue">누리펀딩은 투자원금과 수익을 보장하지 않으며, 투자손실에 대한 책임은 모두 투자자에게 있습니다.</span> 또한 대출 시 귀하의 신용등급이 하락할 수 있습니다.<br>
                        대출금리 19% 이내(연체이자율은 약정이자율 + 3% 이내) 채무의 조기상환수수료율 등 조기상환조건 없으며 플랫폼 이용료, 법무비 등 부대비용 별도 부담입니다.<br>
                        중개수수료를 요구하거나 받는 행위는 불법입니다. 과도한 빚은 당신에게 큰 불행을 안겨줄 수 있습니다.-->
                        ㈜누리펀딩에서 제공하는 P2P투자상품은 현행 금융관련 법령에 근거한 상품이 아니며, 투자원금과 수익을 보장하지 않는 상품으로 투자손실에 대한 책임은 모두 투자자에게
                        있습니다.<br />
                        당사는 투자상품에 대하여 충분한 설명을 할 의무가 있으며, 투자자는 상품설명서와 약관을 통해 위험성, 수익성, 수수료 등에 대하여 인지후 투자하시기 바랍니다. 또한
                        자동투자자의
                        경우에는 차입자의 신용정보 등이 변경되었을 수도 있으니 확인한 후 최종적인 투자 여부를 결정해 주시기 바랍니다.<br />
                        대출금리:연24% 이내, 연체금리: 대출금리+3% 이내(단, 연24%이내) / 중도상환수수료 연2%이내 부과되거나 면제 가능하며, 플랫폼 이용료, 법무비 등 부대비용은 별도
                        부담입니다.<br />
                        중개수수료를 요구하거나 받는 행위는 불법이며, 대출실행시 귀하의 신용등급 하락으로 다른 금융거래에 제약이 있을 수 있습니다. 과도한 빚은 고통과 불행의 시작입니다.
                    </div>
                </div>

                <div class="f-link-box">
                    <ul class="f-link-list clr">
                        <li><a href="http://p2plending.or.kr" target="_blank" class="a-link"><img
                                    src="https://nurifunding.co.kr/img/common/bt_footer_01.jpg" alt="bt_footer_01"></a>
                        </li>
                        <li class="hidden-xs"><a href="http://www.clfa.or.kr" target="_blank" class="a-link"><img
                                    src="https://nurifunding.co.kr/img/common/bt_footer_03.jpg" alt="bt_footer_03"></a>
                        </li>
                        <li class="hidden-xs"><a href="http://www.crowdfunding.or.kr" target="_blank"
                                class="a-link"><img src="https://nurifunding.co.kr/img/common/bt_footer_04.jpg"
                                    alt="bt_footer_04 펀딩협회"></a>
                        </li>
                        <li class="hidden-xs"><a href="http://korfin.kr" target="_blank" class="a-link"><img
                                    src="https://nurifunding.co.kr/img/common/bt_footer_05.jpg" alt="bt_footer_05"></a>
                        </li>
                        <li class="hidden-xs"><a href="http://www.paygate.net" target="_blank" class="a-link"><img
                                    src="https://nurifunding.co.kr/img/bt_footer_06.jpg" alt="payGate"></a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>


    <div id="goods_content" class="goods_content" style="display:none;" onclick="javascript: close_more_txt();">
        <div>
            <p id="g_content_tt"></p>
            <p id="g_content_ct"></p>
            <input type="button" value="X" />
        </div>
    </div>

</body>

</html>