<footer class="footer-new">
    <section class="footer-top">
        <div class="footer-wrapper">
            <nav class="nav-area">
                <ul class="foot-menu-ul">
                    <li><a href="/service/">회사소개</a></li>
                    <li><a target="_blank" href="/policy/service.php">서비스 이용약관</a></li>
                    <li><a target="_blank" href="/policy/invest.php">투자이용약관</a></li>
                    <li><a target="_blank" href="/policy/basic.php">개인정보취급방침</a></li>
                    <li><a target="_blank" href="/policy/basic.php">대부거래기본약관</a></li>
                </ul>
            </nav>
        </div>
    </section>
    <section class="footer-bottom">
        <div class="footer-wrapper">
            <div class="company-info-top">
                <ul class="company-info-ul">
                    <li>
                        <p class="p-title">(주) 누리펀딩</p>
                        <p class="p-contents">
                            대표이사 : 김정권 ㅣ 사업자등록번호 677-81-00871 <br>
                            소재지: 서울시 강남구 테헤란로 82길 15, 10층 (대치동,디아이타워) <br>
                            Tel : 1666-4570 ㅣ Fax : 02-501-7146 ㅣ E-mail : help@nurifunding.co.kr <br>
                        </p>
                    </li>
                    <li>
                        <p class="p-title">(주)누리펀딩대부</p>
                        <p class="p-contents">
                            대표이사 : 김정권 ㅣ 사업자등록번호 791-86-00662<br>
                            소재지 : 서울시 강남구 테헤란로 82길 15, 11층 (대치동,디아이타워)<br>
                            P2P연계대부업 : 2018-금감원-1486 ㅣ 등록기관 : 금융감독원
                        </p>
                    </li>
                </ul>
            </div>
            <div class="company-info-bottom">
                <div class="notice-area">
                    <div class="txt-area">
                        <p class="p-txt-main">누리펀딩은 투자원금과 수익을 보장하지 않으며, 투자손실에 대한 책임은 모두 투자자에게 있습니다.</p>
                        <p class="p-txt-sub">
                            당사는 투자상품에 관하여 충분하게 설명할 의무가 있으며, 투자자는 약관을 통해 위험성, 수익성, 수수료 등에 대하여 인지 후 투자하시기 바랍니다. 누리펀딩은
                            투자원금과 수익을 보장하지 않으며, 투자손실에 대한 책임은 모두 투자자에게 있습니다. 또한 대출 시 귀하의 신용등급이 하락할 수 있습니다. 대출금리 19% 이내(
                            연체이자율 24%) 채무의 조기상환수수료율 등 조기상환조건 없으며 플랫폼 이용료, 법무비 등 부대비용 별도 부담입니다. 중개수수료를 요구하거나 받는 행위는
                            불법입니다. 과도한 빚은 당신에게 큰 불행을 안겨줄 수 있습니다.
                        </p>
                    </div>

                </div>
                <div class="tell-area">
                    <div class="tell-service">
                        <div class="tell-info-box">
                            <p class="p-main"><span>고객센터 </span><span class="sty-txt-color-blue01"> 1666-4570</span></p>
                        </div>
                        <ul class="sns-ul">
                            <li><a href="https://blog.naver.com/jkkim317" target="_blank"><img
                                        src="https://www.nurifunding.co.kr/img/new/common/icon_sns_blog.png"
                                        alt="블로그"></a></li>
                            <li><a href="#none" target="_blank"><img
                                        src="https://www.nurifunding.co.kr/img/new/common/icon_sns_cafe.png"
                                        alt="카페"></a></li>
                            <li><a href="https://pf.kakao.com/_xnjkKC" target="_blank"><img
                                        src="https://www.nurifunding.co.kr/img/new/common/icon_sns_kakao.png"
                                        alt="카톡"></a></li>

                        </ul>
                    </div>
                    <div class="tell-time">
                        <p class="icon-dot">운영시간 : 평일 : 09시~18시 | 점심휴무 : 12:30~ 13:30 </p>
                        <p class="icon-dot">휴무 : 토, 일, 공휴일</p>
                    </div>
                </div>
            </div>
            <div class="copy-area">
                <div class="footer-logo">
                    <div class="logo-pc"><img src="https://www.nurifunding.co.kr/img/new/common/logo_footer.png"
                            alt="로고"></div>
                    <div class="logo-mobile"><img src="https://www.nurifunding.co.kr/img/new/common/logo.png" alt="로고">
                    </div>

                </div>
                <p class="txt-copy">Copyright © 2018 누리펀딩 Corp. All Rights Ressrved.</p>
            </div>
        </div>
    </section>
</footer>