<header class="header-new">
    <section class="header-sect nav-sect nav-white">
        <nav class="nav-area">
            <button type="button" class="btn-open-menu mobile-show">
                <img src="https://www.nurifunding.co.kr/img/new/common/drawer_menu.png" alt="햄버거 메뉴">
            </button>
            <div class="top-logo">
                <a href="/" class="logo-box">
                    <div class="logo-base">
                        <img src="https://www.nurifunding.co.kr/img/new/common/logo_white.png" alt="로고">
                    </div>
                    <div class="logo-over">
                        <img src="https://www.nurifunding.co.kr/img/new/common/logo.png" alt="로고">
                    </div>
                </a>
            </div>
            <a href="/member/member_info.php" class="btn-go-myinfo mobile-show">
                <img src="https://www.nurifunding.co.kr/img/new/common/my_info.png" alt="로고">
            </a>
            <!--메뉴 전체-->
            <div class="menu-area">
                <div class="menu-mobile-top mobile-show">
                    <div class="top-title">
                        <div class="title-area">
                            <div class="icon-logo">
                                <img src="https://www.nurifunding.co.kr/img/new/common/icon_logo.png" alt="아이콘 로고">
                            </div>

                            <div class="logout-box status-logout">
                                <a href="/member/login.php" class="btn-go-login sty-btn-bar-gray">로그인</a>
                                <a href="/member/join.php" class="btn-go-join sty-btn-bar-gray">회원가입</a>
                            </div>

                        </div>
                        <button type="button" class="btn-close-menu">
                            <div class="logo-over"><img
                                    src="https://www.nurifunding.co.kr/img/new/common/btn_close_menu.png" alt="닫기">
                            </div>
                        </button>
                    </div>
                    <!--로그인시 보임(모바일)-->
                    <div class="top-menu-info status-login">
                        <ul class="menu-info-ul">
                            <li>
                                <a href="/member/myinvest.php">
                                    <img src="https://www.nurifunding.co.kr/img/new/common/icon_menu_info01.png"
                                        alt="아이콘">
                                    <p>나의투자정보</p>
                                </a>
                            <li>
                                <a href="/member/myloan.php">
                                    <img src="https://www.nurifunding.co.kr/img/new/common/icon_menu_info02.png"
                                        alt="아이콘">
                                    <p>나의대출정보</p>
                                </a>
                            </li>
                            <li>
                                <a href="/member/account.php">
                                    <img src="https://www.nurifunding.co.kr/img/new/common/icon_menu_info03.png"
                                        alt="아이콘">
                                    <p>계좌정보</p>
                                </a>
                            </li>
                            <li>
                                <a href="/member/member_info.php">
                                    <img src="https://www.nurifunding.co.kr/img/new/common/icon_menu_info04.png"
                                        alt="아이콘">
                                    <p>회원정보</p>
                                </a>
                            </li>
                            </li>
                        </ul>
                    </div>
                    <!--.//로그인시 보임(모바일)-->
                </div>
                <!--메인메뉴-->
                <div class="main-menu-area">
                    <div class="main-menu-funding mobile-show">
                        <ul class="menu-funding-ul">
                            <li>
                                <a href="/invest/">
                                    <img src="https://www.nurifunding.co.kr/img/new/common/icon_menu_funding01.png"
                                        alt="아이콘">
                                    <p class="mark-new">투자하기</p>
                                </a>
                            </li>
                            <li>
                                <a href="/loan/">
                                    <img src="https://www.nurifunding.co.kr/img/new/common/icon_menu_funding02.png"
                                        alt="아이콘">
                                    <p>대출하기</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="main-menu-box">
                        <ul class="main-menu-ul">
                            <li class="active">
                                <a href="/invest/" class="main-btn none-go">투자하기</a>
                                <ul class="temp-sub-menu-ul">
                                    <li><a href="/invest/">투자하기</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/loan/" class="main-btn none-go">대출하기</a>
                                <ul class="sub-menu-ul">
                                    <li><a href="/loan/">대출하기</a></li>
                                    <li><a href="/miripay/">미리페이 안내</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/invest/nuri.php" class="main-btn">누리워드</a>
                                <ul class="temp-sub-menu-ul">
                                    <li><a href="/invest/nuri.php">누리워드</a></li>
                                </ul>
                            </li>
                            <li class="sub-center">
                                <a href="/faq/" class="main-btn">이용안내</a>
                                <ul class="sub-menu-ul">
                                    <li><a href="/faq/">FAQ</a></li>
                                    <li><a href="/notice/">공지사항</a></li>
                                    <li><a href="/dataroom/">자료실</a></li>
                                </ul>
                            </li>
                            <li class="sub-center">
                                <a href="/service/" class="main-btn">회사소개</a>
                                <ul class="sub-menu-ul">
                                    <li><a href="/service/">회사소개</a></li>
                                    <li><a href="/service/ceo.php">대표이사소개</a></li>
                                    <li><a href="/service/company_ir.php">기업IR정도</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="sub-menu-bg-mobile mobile-show"></div>
                    </div>

                    <div class="main-menu-service mobile-show">
                        <div class="service-area">
                            <div class="tell-box">
                                <p class="title">
                                    <span>고객센터</span>
                                    <span class="tell-num sty-txt-color-blue">1666-4570</span>
                                </p>
                                <div class="txt-box">
                                    <p class="p-dot">평일 : 09시~18시 (점심휴무 : 12:30~ 13:30 )</p>
                                    <p class="p-dot">휴무 : 토, 일, 공휴일</p>
                                </div>
                            </div>
                            <div class="question-box">
                                <a href="/faq/" class="btn-go-fqa">자주묻는 질문</a>
                                <a href="#" class="btn-open-request btn-go-online">온라인 문의</a>
                            </div>
                        </div>
                    </div>

                </div>
                <!--//메인메뉴-->

                <div class="menu-mobile-bottom mobile-show">
                    <div class="bottom-sns">
                        <ul class="sns-ul">
                            <li><a href="https://blog.naver.com/jkkim317" target="_blank"><img
                                        src="https://www.nurifunding.co.kr/img/new/common/icon_sns_blog.png"
                                        alt="블로그"></a></li>
                            <li><a href="#none" target="_blank"><img
                                        src="https://www.nurifunding.co.kr/img/new/common/icon_sns_cafe.png"
                                        alt="카페"></a></li>
                            <li class="item-kakao"><a href="https://pf.kakao.com/_xnjkKC" target="_blank"><img
                                        src="https://www.nurifunding.co.kr/img/new/common/icon_sns_kakao_long.png"
                                        alt="카톡"></a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <!--.//메뉴전체-->

            <div class="menu-member-box">
                <ul class="menu-member-ul status-logout">
                    <li><a href="/member/login.php">로그인</a></li>
                    <li><a href="/member/join.php">회원가입</a></li>
                </ul>
            </div>
        </nav>
        <nav class="nav-area-sub mobile-show">
            <ul class="menu-sub-ul mobile-show">
                <li><a href="/" class="active"><span>홈</span></a></li>
                <li><a href="/invest/"><span class="mark-dot">투자하기</span></a href="#"></li>
                <li><a href="/loan/"><span>대출하기</span></a></li>
                <li><a href="/invest/nuri.php"><span>누리워드</span></a></li>
            </ul>
        </nav>
        <div class="sub-menu-bg"></div>
    </section>
</header>