<div class="modal-request">
    <div class="modal-request-area">
        <button type="button" class="btn-close-request">
            <img src="http://design.ebiznetworks.co.kr/lhc/nuri_renew/img/new/main/btn_close_request.png" alt="닫기">
        </button>
        <div class="title-box">
            <h3 class="title">대출상담신청</h3>
            <p class="title-sub">※ 신청해주신 정보를 통해 고객님께 빠른 연락드리겠습니다.</p>
        </div>
        <div class="contents-box">
            <form action="" class="contents-form">
                <ul class="input-ul">
                    <li>
                        <label for="in-name">이름</label>
                        <input type="text" id="in-name" class="in-name" placeholder="">
                    </li>
                    <li>
                        <label for="in-phone">전화번호</label>
                        <input type="text" id="in-phone" class="in-name" placeholder="'-' 없이 휴대폰 번호 입력">
                    </li>
                    <li>
                        <label for="in-email">이메일</label>
                        <input type="text" id="in-email" class="form-input" value="" placeholder="">
                    </li>
                    <li>
                        <label for="sel-question">상담항목</label>
                        <select class="select-list" id="sel-question">
                            <option value="">상담항목을 선택해 주세요</option>
                            <option value="">대출신청</option>
                            <option value="">투자하기</option>
                            <option value="">미리페이(선정산)</option>
                            <option value="">기타</option>
                        </select>
                    <li>
                        <label for="in-txt">내용</label>
                        <textarea name="" id="" placeholder="" class="in-txt" id="in-txt"></textarea>
                    </li>
                </ul>
                <div class="policy-box">
                    <div class="policy-top">
                        <div class="policy-agree">
                            <input type="checkbox" id="check-agree" class="agree-check">
                            <label for="check-agree" class="agree-label">개인정보 취급방침 동의</label>
                        </div>
                        <div class="policy-detail">
                            <button type="button" class="btn-detail-policy">
                                <span>[</span>
                                <span class="sty-txt-color-blue">자세히 보기</span>
                                <span>]</span>
                            </button>
                        </div>
                    </div>
                    <div class="policy-bottom">
                        @@include('./_request_policy.html')
                    </div>
                </div>


                <button type="button" class="btn-apply-request">상담신청</button>
            </form>
        </div>
    </div>
</div>
